# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# latex
*.aux
*.blg
*.log
*.toc
*.gz
*.bbl

# cmake
**build**

# pdf 文件

# 安装包
*.tar.gz
*.zip
*.rar

# VSCode files
!.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Bin directory (build output)
!bin/

# IDE
.idea

# C++/SLAM common files
*.ilk
*.ipch
*.iobj
*.ipdb

# Debug and Release
Debug/
Release/
x64/
x86/

# CMake specific
CMakeFiles/
CMakeCache.txt
cmake_install.manifest
*.cmake

# SLAM specific
*.bag
*.pcd
*.ply
*.ply2

# ROS (if used)
*.dae
*.log
*.log.*

# Eigen
eigen_build/

# OpenCV
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.tif

# Data files (specific)
data/ch6/frame*.txt
data/ch6/*.png
data/ch7/**.pcd
**DS_Store

data/ch9/**.pcd
data/ch3/state.txt
data/ch3/gins.txt
data/ch3/gnss_output.txt
data/ch4/gins_preintg.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#cmake-build-*

devel/
logs/
build/
bin/
lib/
msg_gen/
srv_gen/
msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/_*.py
build_isolated/
devel_isolated/

# Generated by dynamic reconfigure
*.cfgc
/cfg/cpp/
/cfg/*.py

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

/planning/cfg
/planning/docs
/planning/src

*~

# Emacs
.#*

# Catkin custom files
CATKIN_IGNORE

